[submodule "ROS-TCP-Endpoint"]
  path = src/ROS-TCP-Endpoint
  url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git

[submodule "franka_ros"]
  path = src/franka_ros
  url = https://github.com/frankaemika/franka_ros.git
